.projectContainer{
    border-radius: 15px;
    border: 2px solid blue;
    display: inline-block;
    position: relative;
    height:250px;
    width: 250px;
    overflow: hidden;
    margin: 20px;
  }

.projects {
    text-align: center;
    padding-bottom: 100px;
}

.projectContainer:hover .image {
  opacity: 1;
}

.projectContainer:hover .middle {
  opacity: 1;
}
