/* * {
  box-sizing: border-box;
} */

body {
  /* position: relative; */
  --twitter-color: rgb(29, 161, 242); 
  --twitter-background: rgb(25, 39, 53);
  background-color: var(--twitter-background);
  color: white;
}

.App {
  /* height: 100vh; */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  /* overflow-x: hidden; */

}
  
h1, h2 {
  font-family: futura;
}

.header{
  text-align: center;
  background-color: rgb(29, 161, 242, 0.1);
}